people:
  -
    name: Edward
    exclude:
      - Kara
      - Alberto
    email: edward@example.com
  -
    name: Kara
    exclude:
      - Edward
      - Alberto
    email: kara@example.com
  -
    name: Alberto
    exclude:
      - Kara
      - Edward
    email: alberto@example.com
  -
    name: Natasha
    exclude: []
    email: jeanette@exaple.com
  -
    name: Tyler
    exclude:
      - Linda
      - Fiona
    email: tyler@example.com
  -
    name: Linda
    exclude:
      - Tyler
      - Fiona
    email: linda@example.com
  -
    name: Fiona
    exclude:
      - Linda
      - Tyler
    email: fiona@example.com
